@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

nav {
  background-color: #FFFFFF; }
  nav img {
    width: 150px; }
  nav ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 400; }

h1 {
  text-align: center;
  color: #1F396B;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

h2 {
  text-align: center;
  color: #1F396B;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

h3 {
  text-align: center;
  color: #F61666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3em; }

h4 {
  color: #1F396B;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em; }

h5 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em; }

h6 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em; }

p {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.cards__1 {
  color: #FFFFFF;
  font-size: 1em; }
  .cards__1 h3 {
    margin-bottom: 20px; }
  .cards__1 img {
    width: 80%;
    text-align: center; }

footer h6 {
  color: #1F396B;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none; }

.end {
  background-color: #ebedea; }
  .end p {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
