//variables de color
$bg-blue:#1F396B;
$bg-pink:#F61666;
$bg-dark:#000000;
$bg-white:#FFFFFF;
$color: black;
$gris:#ebedea;


//variables de size
$w-150: 150px;
$w-100: 100px;

//variables cards
$textMini:1em;
$margin-bottom:20px;
$w-80:80%;
$text-align: center;

//variables footer
$display: flex;
$flex-wrap: wrap;
$justify-content: space-around;
//
$list-style: none;
$textGrand: 2em;
$align-items: center;
$list-style-position: outside;
$text-transform: uppercase;
$text-decoration: none;


	




