@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fontMain:'Roboto', sans-serif;
$fontLight:300;
$fontRegular:400;
$fontBold:500;

//tamaño de texto

$textMini:1em;
$textSmall:1.2em;
$textMedium:1.3em;


//alineación
$text-align:center;